@{
    Layout = "_AdminLayout";
}

<div class="content-header clearfix">
    <h1 class="float-left">Hello World Plugin</h1>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</div>
